streamlit
pandas
numpy
seaborn
matplotlib
scikit-learn
xgboost
matplotlib
matplotlib.pyplot
statsmodels
from sklearn.preprocessing import StandardScaler, LabelEncoder, PolynomialFeatures
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score
import xgboost 
from statsmodels.stats.outliers_influence import variance_inflation_factor
